body{
  background-image: url("images (2).jfif");
background-size:   contain;
}

header{

  background-image:url("backimg.jfif") ;
  position: absolute;
  left:0;
  right:0;
  top:0;
  padding-left: : 0px;
  margin-bottom:5px;
  margin:0;
}

button{
  background-color:pink ;
  border:none;
  color: red;
  padding: 5px 15px;
  text-align: center;
  text-decoration:  none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px ;
  margin-bottom: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: absolute;
  left:500px;
  top:5px;
}

.search button.hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.searchBar{
  position: absolute;
  left:100px;
  padding:10px;
  margin-top:5px;
}

header ul{
  float: right;
  color:white;


}

.welcome{
background-color: black;
  text-align:  justify;

  padding: 0;
  display:  flex;
}
#img1:hover {
  box-shadow: 0 0 2px 1px blue;
}

img{
  max-width: 100%;
  height: auto;
  display: flex;
  margin-left: 30px;
  margin-right: auto;
  margin-top:50px;
  width: 10%;

  border-bottom: 0.5px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 150px;

}

a{
  color:red;
  text-decoration: inherit;
}

body{
  margin:0px;
}

header li{
  display : inline;
  margin-left: 20px;

}

h1{
margin-top: 0;
  border-top:   4px white inset;
}

#block{
  display: flex;
  color-: white;
}

#lists{
  list-style-type: disc;
text-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  padding :20px;
}

footer{
  background-color: white;
  position:   relative;
  left:0px;
  right:0;
  bottom:0;
text-align: center;
text-align-top: 10px;
margin-top: 10px;
padding:20px;

}

.leftBlock{
  background-color: #D9F3EF;
box-sizing: border-box;
width: 15%;
height: 65%;
border: 1px solid blue;
float: none;
  position: sticky;
  top:196px;
  left:0px;
  right:250px;
}
.middleBlock{
  box-sizing: border-box;
  width: 40%;
  height: 65%;
  border: 1px solid blue;
  float: none;
  position:   relative;
  left:250px;
  right:1050px;
color: white;
}
.rightBlock{
  position:  absolute;
  left:1100px;
}
